#sidebar{
    background-color: rgb(8, 17, 56);
    height: 100vh;
    position: fixed;
    z-index: 5;
}
.offcanvas-lg{
    background-color: rgb(8, 17, 56);
    padding-right:100px;
}
.btn-close{
    color: white;
}
.side-link a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 20px;
}
.side-link{
    width: 50%;
}
.side-link a:hover{
    border-bottom: solid 2px #20df8094;
}
#logout{
    color: white;
    border-radius: 5px;
}
.menu{
    background-color: rgb(8, 17, 56);
    color: white;
    height: 55px;
    font-weight: bold;
}