.register-page, .login-page{
    background: rgb(9,53,69);
    background: radial-gradient(circle, rgba(9,53,69,1) 0%, rgba(32,223,127,1) 100%);
}
.bg-form{
    background-color: #093545;
    color: white;
}
.input-couleur{
    background-color: #093545;
    color: white;
    border-radius: 50px;
}

.input-couleur:hover{
    background-color: #093545;
    color: white;
    border-radius: 50px;
}

.btn-couleur{
    background-color: #20DF7F;
    color: black;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
}
.register, d.sign-up{
    color: #20DF7F; 
}
