@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato:wght@700&family=Montserrat:wght@700&family=Poppins:wght@300;400;500;600;700&family=Raleway:wght@300&family=Roboto+Slab:wght@500;600&family=Roboto:wght@500;700&family=Rubik&family=Work+Sans&display=swap');

.li{
    list-style-type: none !important;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
}
.img{
    width : 40px;
    height : 40px;
}
.header{
    /* border: 1px solid rgba(255, 255, 255, 1); */
    background-color: rgb(8, 17, 56); 
    height: 55px;
}
.headers{
    width:100%;
    z-index: 1;
  }

/* @media screen and (min-width: 901px) and (max-width: 1728px) {
    .headers{
      width: 40%;
      position: fixed;
      top: 0;
    }
} */